button {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 0;
  outline: 0;
  background-color: rgb(6, 155, 224);
  font-size: 19px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge {
  background-color: red;
  padding: 0.3rem 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  border-radius: 50%;
  margin-left: 1rem;
}
